# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

.recentf

server/

auto-save-list/

eshell/

*.???~
*.??~

recentf

ido.last~

ido.last

ac-comphist.dat

*~

bookmarks

.mc-lists.el

#ido.last

elpa/

